*{
    box-sizing: border-box;
 }
 
 html,
 body{
     font-family: 'Montserrat', sans-serif;
 }

 /*NavBar*/
.navbar-container{
    width: 100%;
    height: 100px;
    background-color: #2C3E50;
    padding: 5px;
}

.logo{
    width: 50px;
    margin-top: 10px;
}

.nav-main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-items{
    display: flex;
 }
 
 .navbar-items a{
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
 }
 
 .navbar-items a:hover{
     font-weight: 700;
 }

 .navbar-items li{
    margin: 8px;
}
/* fim seção navbar*/

/*Seção mini banner*/
/* Main banner */
.main-banner{
    background-image: url('../Img/mainbanner.png');
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 5em 0;
}

.main-banner h1,
.main-banner p{
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.main-banner h1{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.main-banner p{
    font-size: 1.1rem;
}
/*fim seção mini banner*/

/*Seção planos*/
.specialties-container{
    width: 100%;
    height: auto;
    padding: 5px;
  
}

.specialites-items{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

.plans-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.plans-items h3{
    color: #2C3E50;
    font-size: 1.2rem;
    font-weight: 700;
}

.plans-items li{
    text-align: center;
    list-style: none;
    line-height: 25px;
    margin-bottom: 20px;
}

#planos i{
    font-size: 1.5rem;
    color: #2C3E50;
}
/*Fim seção planos*/

/*Seção preços e planos*/
.pricing-container{
    width: 100%;
    height: auto;
    padding: 5px;
    position: relative;
}

.pricing-container h1{
    color: #2C3E50;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.pricing-container p{
    color: #2C3E50;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 5px;

}

.plan{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
   
}

.plan-list{
   padding-bottom: 20px;
   margin: 5px;
}

.plan-list li{
    line-height: 25px;
    background-color: #e8e9ea;
    color: #333;
    text-align: center;
    font-weight: 700;
    padding: 15px;
}

 .plan-list .price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc76a;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 1.1rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}

.plan-list .plan-name{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: #2C3E50;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
}

.plan-list .recommended{
    background-color: #f45c57;
}

.plan-list .plan-btn{
    background-color: #2cc76a;
    color: #fff;
    height: 75px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
}

#recommended{
    background-color: #f45c57;
}

.plan-list .plan-btn:hover{
    font-size: 1.4rem;
    font-weight: 700;
}
/*fim seção planos preços*/

/*Seção dominio*/
.domain-container{
    width: 100%;
    height: auto;
    padding: 5px;
    position: absolute;
    background-color: #2C3E50;
    text-align: center;
}

.domain-container h2{
    color: #fff;
    font-size: 1.4rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.domain-container p{
    color: #d5d5d5;
    font-size: 1.1rem;
    line-height: 24px;
    margin-bottom: 10px;
}

.domain-form{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  
}

.domain-form input{
   display: block;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   border: none;
   border-radius: 5px;
}

.domain-form input[type=text]{
    margin-bottom: 10px;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    text-align: center;
}

.domain-form input[type=submit]{
    background-color: #2cc76a;
    color: #fff;
    padding: 15px 30px;
    font-size: 1rem;
}

.domain-form input[type=submit]:hover{
    cursor: pointer;
    background-color: #fff;
    color: #2cc76a;
}
/*fim seção dominio*/

 




/* Media query */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .navbar-container{
        display: flex;
        height: 100px;
    }

    .nav-main{
        flex-direction: row;
        justify-content: space-between;
    }

    .logo{
        width: 60px;
        margin-bottom: 7px;
    }

    .navbar-items a{
       font-size: 1.2rem;
    }
    
    .login-btn{
        padding: 15px 10px;
        background-color: #2cc76a;
        border-radius: 5px;
    }
    /*fim seção navbar*/

    /*Seção mini banner*/
    .main-banner{
        padding: 9em 0;
    }

    .main-banner h1{
        font-size: 1.6rem;
        margin-bottom: 5px;
    }
    
    .main-banner p{
        font-size: 1.2rem;
    }
    /*Fim seção mini banner*/

    /*Seção planos*/
.specialites-items{
    padding: 5px;
}

.plans-items{
   display: flex;
   flex-direction: row;
   align-items: center;
   position: relative;
   margin: 15px;
}

.plans-items h3{
   font-size: 1.3rem;
   margin: 8px 0;
}

.plans-items li{
    padding: 10px;
}

#planos i{
    font-size: 2.3rem;
   
}

/* Fim seção planos*/
/*seção preços e planos*/
.pricing-container h1{
    font-size: 1.7rem;
    margin-bottom: 5px;
}

.pricing-container p{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.plan{
    flex-direction: row;
    justify-content: space-between;
}

.plan-list .plan-name{
    font-size: .9rem;
  
}

/*Seção dominio*/
.domain-container{
    height: 300px;
    padding: 25px;
   
}

.domain-container h2{
    font-weight: 700;
    font-size: 1.9rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.domain-container p{
    font-size: 1.3rem;
}

.domain-form input[type=text]{
    margin-bottom: 23px;
    width: 60%;
    padding: 12px;
    font-size: 1.1rem;
   
}


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .domain-form input[type=text]{
        text-align: start;
    }
    

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}
 