*{
    box-sizing: border-box;
 }
 
 html,
 body{
     font-family: 'Montserrat', sans-serif;
 }

 /*NavBar*/
.navbar-container{
    width: 100%;
    height: 100px;
    background-color: #2C3E50;
    padding: 5px;
}

.logo{
    width: 50px;
    margin-top: 10px;
}

.nav-main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-items{
    display: flex;
 }
 
 .navbar-items a{
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
 }
 
 .navbar-items a:hover{
     font-weight: 700;
 }

 .navbar-items li{
    margin: 8px;
}
/* fim seção navbar*/

/*Seção mini banner*/
/* Main banner */
.main-banner{
    background-image: url('../Img/mainbanner.png');
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 5em 0;
}

.main-banner h1,
.main-banner p{
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.main-banner h1{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.main-banner p{
    font-size: 1.1rem;
}
/*fim seção mini banner*/

/*Seção planos*/
.specialties-container{
    width: 100%;
    height: auto;
    padding: 5px;
  
}

.specialites-items{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

.plans-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.plans-items h3{
    color: #2C3E50;
    font-size: 1.2rem;
    font-weight: 700;
}

.plans-items li{
    text-align: center;
    list-style: none;
    line-height: 25px;
    margin-bottom: 20px;
}

#planos i{
    font-size: 1.5rem;
    color: #2C3E50;
}
/*Fim seção planos*/



/* Media query */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .navbar-container{
        display: flex;
        height: 100px;
    }

    .nav-main{
        flex-direction: row;
        justify-content: space-between;
    }

    .logo{
        width: 60px;
        margin-bottom: 7px;
    }

    .navbar-items a{
       font-size: 1.2rem;
    }
    
    .login-btn{
        padding: 15px 10px;
        background-color: #2cc76a;
        border-radius: 5px;
    }
    /*fim seção navbar*/

    /*Seção mini banner*/
    .main-banner{
        padding: 9em 0;
    }

    .main-banner h1{
        font-size: 1.6rem;
        margin-bottom: 5px;
    }
    
    .main-banner p{
        font-size: 1.2rem;
    }
    /*Fim seção mini banner*/

    /*Seção planos*/
.specialites-items{
    padding: 5px;
}

.plans-items{
   display: flex;
   flex-direction: row;
   align-items: center;
   position: relative;
   margin: 15px;
}

.plans-items h3{
   font-size: 1.3rem;
   margin: 8px 0;
}

.plans-items li{
    padding: 10px;
}

#planos i{
    font-size: 2.3rem;
   
}

/* Fim seção planos*/

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}
 